main.container{
    margin: 120px auto 80px  auto;
    background-color: #fff;
}
.content {
    float: left;
    width: 492px;
    border-right: 4px solid #eee;
}
.content > div {
    position: relative;
    float: right;
    width: 800px;
    padding-top: 190px;
    margin-right: -400px;
    margin-bottom: 80px;
}
.content > div .icon {
    position: absolute;
    top: -30px;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-left: -100px;
    border-width: 4px;
    border-style: solid;
    border-radius: 50%;
    border-color: #eee;
    overflow: hidden;
}
.content > div .avatar {
    width: 240px;
    height: 240px;
    top: -80px;
    margin-left: -120px;
    border-width: 6px;
}
.content > div .icon img {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -260px;
    margin-top: -120px;
}
.content > div h2,
.content > div .descript {
    width: 50%;
    float: left;
    color: purple;
    line-height: 1.5;
}
.content > div h2 {
    text-align: right;
    padding-right: 50px;
    line-height: 1;
}
.content > div .descript {
    padding-left: 50px;
}
.content > div p.descript {
    text-align: justify;
    text-indent: 2em;
}
.content > div .descript li {
    display: block;
}
.content > div dl.descript {
    margin-left: -78px;
}
.content > div .descript dt,
.content > div .descript dd {
    display: inline-block;
    margin-bottom: 30px;
    vertical-align: middle;
}
.content > div .descript dt{
    width: 60px;
    margin-right: 40px;
    text-align: center;
    border: 4px solid #eee;
    border-radius: 10%;
    background-color: #fff;
}
.content > div .descript dd {
    width: 60%;
}

