/* 清除默认样式，设置全局样式 */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #eee;
}
a {
    color: inherit;
    text-decoration: none;
}
ul {
    list-style-type: none;
}
ul li {
    display: inline-block;
}
.container {
    position: relative;
    width: 980px;
    margin: 0 auto;
    overflow: hidden;
}
/* 设置页面首部 */
header {
    position: relative;
    height: 100px;
    min-width: 980px;
    background-color: purple;
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100px;
    padding-bottom: 10px;
    color: #fff;
}
header nav h1 {
    font-size: 30px;
    font-weight: none;
    font-family: Arial, Helvetica, sans-serif;
}
header nav ul {
    font-size: 16px;
}
header nav ul li {
    margin-left: 30px;
}
header > a {
    position: absolute;
    bottom: 0;
    right: 30px;
    height: 34px;
}
@media (max-width: 1100px) {
    header > a {
        display: none;
    }
}
/* 设置页面底部样式 */
footer {
    background-color: #000;
    color: #fff;
    min-width: 980px;
}
footer .nav {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(99, 97, 97);
    text-align: center;
} 
footer .nav li {
    display: inline;
    margin: 0 10px;
}
footer .link {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
}
footer .link dl {
    display: inline-block;
    width: 180px;
    line-height: 2;
}
footer .link dl dt {
    color: #888;
    padding-bottom: 10px;
}
footer .link dl dd:hover {
    text-decoration: underline;
    cursor: pointer;
}
footer .copyright {
    text-align: center;
    line-height: 2;
}