/* 先设置清除一些默认样式 */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
}
ul {
    list-style-type: none;
}
ul li {
    display: inline-block;
}
.container {
    position: relative;
    width: 980px;
    margin: 0 auto;
    overflow: hidden;
}
/* 页面样式开始 */
/* 页面头部 */
header {
    position: relative;
    min-width: 980px;
    height: 100px;
    background-color: purple;
    color: #fff;
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 980px;
    height: 100px;
    margin: 0 auto;
    padding-bottom: 10px;
}
header li {
    margin-left: 20px;
}
header li:nth-child(1){
    margin-left: 0;
}
header > a {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 34px;
    margin-right: 20px;
}
/* banner部分 */
#banner {
    min-width: 980px;
    background-color: #f00;
}
#banner .banner-img img{
    display: block;
    width: 100%;
    height: 100%;
}
#banner .content {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 500px;
    padding: 15px;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.7) 0%,
        rgba(255, 255, 255, 0.5) 75%,
        rgba(255, 255, 255, 0) 100%
    );
}
/* 图文描述部分 */
.figure-text {
    display: flex;
    justify-content: center;
    align-items: stretch;
    min-width: 980px;
    padding-top: 10px;
    padding-bottom: 200px;
    background-color: #ddd;
}
.figure-text > div {
    width: 320px;
    padding: 10px;
    margin-left: 10px;
    background-color: #fff;
}
.figure-text > div:nth-child(1) {
    margin-left: 0;
}
/* 用户介绍部分 */
.user {
    min-width: 980px;
    padding-bottom: 200px;
}
.user .user-avatar {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin: -40px auto 0 auto;
    overflow: hidden;
}
.user .user-avatar img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -260px;
    margin-top: -120px;
}
.user > h2 {
    text-align: center;
    margin: 40px auto;
}
.user > p {
    width: 600px;
    margin: 0 auto;
}
/* 页面底部 */
footer {
    background-color: #000; 
    color: #fff;
}
footer .nav {
    padding: 15px;
    border-bottom: 1px solid gray;
    text-align: center;
}
footer .nav li {
    margin-left: 20px; 
}
footer .nav li:nth-child(1){
    margin-left: 0;
}
/* 页面底部，友情链接 */
footer .link {
    padding: 20px 0;
}
footer .link > div {
    float: left;
    width: 150px;
}
footer .link > div li {
    display: block;
    
}
footer .copyright {
    text-align: center;
    padding: 15px;
}
footer .copyright p {
    padding: 10px;
}